#Options -MultiViews +FollowSymLinks
RewriteEngine On

RewriteRule ^actor/([0-9]+)$ actor.php?actorid=$1 [NC,L]
RewriteRule ^actor/([0-9]+)/([a-zA-Z0-9\-]+)$ actor.php?actorid=$1 [NC,L]
RewriteRule ^actor/([0-9]+)/([a-zA-Z0-9\-]+)&o=([a-zA-Z]+)$ actor.php?actorid=$1&o=$3 [NC,L]
RewriteRule ^actor/([0-9]+)/p([0-9]+)?$ actor.php?actorid=$1&page=$2 [NC,L]
RewriteRule ^actor/([0-9]+)&o=([a-zA-Z]+)/p([0-9]+)?$ actor.php?actorid=$1&o=$2&page=$3 [NC,L]
RewriteRule ^actor/([0-9]+)/([a-zA-Z0-9\-]+)/p([0-9]+)$ actor.php?actorid=$1&page=$3 [NC,L]
RewriteRule ^actor/([0-9]+)/([a-zA-Z0-9\-]+)&o=([a-zA-Z]+)/p([0-9]+)$ actor.php?actorid=$1&o=$3&page=$4 [NC,L]
RewriteRule ^actor/([0-9]+)&o=([a-zA-Z]+)$ actor.php?actorid=$1&o=$2 [NC,L]
RewriteRule ^actor/([0-9]+)/([a-zA-Z]+)/p([0-9]+)$ actor.php?actorid=$1&o=$2&page=$3 [NC,L]
RewriteRule ^movie/([0-9]+)$ movie.php?id=$1 [NC,L]
RewriteRule ^movie/([0-9]+)/([a-zA-Z0-9\-]+)$ movie.php?id=$1 [NC,L]
RewriteRule ^search$ search.php [NC,L]
RewriteRule ^genre/([a-zA-Z0-9+]+)?$ genre.php?g=$1 [NC,L]
RewriteRule ^genre/([a-zA-Z0-9+]+)/([a-zA-Z]+)$ genre.php?g=$1&o=$2 [NC,L]
RewriteRule ^genre/([a-zA-Z0-9+]+)/([a-zA-Z]+)/p([0-9]+)$ genre.php?g=$1&o=$2&page=$3 [NC,L]

RewriteRule ^keyword/([0-9]+)$ keyword.php?kid=$1 [NC,L]
RewriteRule ^keyword/([0-9]+)/([a-zA-Z0-9+\-]+)$ keyword.php?kid=$1 [NC,L]
RewriteRule ^keyword/([0-9]+)/([a-zA-Z0-9+\-]+)?([a-z0-9=]+)$ keyword.php?kid=$1&$3 [NC,L]
RewriteRule ^keyword/([0-9]+)?([a-z0-9=]+)$ keyword.php?kid=$1&cyph$2 [NC,L]

RewriteRule ^history history.php [NC,L]
RewriteRule ^favorites/p([0-9]+)?$ favorites.php?page=$1 [NC,L]
RewriteRule ^favorites favorites.php [NC,L]
RewriteRule ^alerts alerts.php [NC,L]
RewriteRule ^about aboutus.php [NC,L]
RewriteRule ^account/([0-9]+)$ account.php?error=$1 [NC,L]
RewriteRule ^account account.php [NC,L]
RewriteRule ^login login.php [NC,L]
RewriteRule ^signup signup.php [NC,L]
RewriteRule ^search/filter movie_filter.php [NC,L]
RewriteRule ^filter$ filter_results.php [NC,L]

#RewriteCond %{HTTP_HOST} ^104\.236\.234\.75$
#RewriteRule ^(.*)$ http://www.readyto.watch/$1 [L,R=301]

#ErrorDocument 403 /index.php